<!DOCTYPE html>
<html>
  <head>
    <title>Kachda</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', 'bootstrap', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'bootstrap', 'data-turbolinks-track': 'reload' %>
    <%= yield :head %>
  </head>

  <body>
    <%= yield %>

  </body>
  <footer>
    <%= yield :scripts %>
  </footer>
</html>
